{% extends 'layouts/base.html' %}


{% block title %} Page Test {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">
                <h6 class="card-category text-gray">HD-Wireless</h6>
                <h4 class="card-title" id="card-title">
                    API-positition
                </h4>
                <p id="test"></p>
                

                           

            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    setInterval(function () {
        test3().then((res) => {
            console.log(res);
            var pos = "Longitude: " + res.Longitude + " Latitude: " + res.Latitude;
            document.getElementById('test').innerHTML = pos;
        })
    }, 1000);
    console.log(map);
</script>

{% endblock javascripts %}
