{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        Google Maps
      </div>
      <div class="card-body">
        <div id="map" class="map"></div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js

      //deckmap.initmap();
      googlemap.initmap();
      googlemap.kalman();
      
      setInterval(function () {
          //deckmap.getpos();
          //deckmap.setLayer();
          googlemap.getpos();
          googlemap.renderpath();
          
       
      }, 1000);

      

    
  });
</script>


<!-- <script>
        var map = new Mazemap.Map({
            // container id specified in the HTML
            container: 'map',

            campuses: 121,

            // initial position in lngLat format
            center: {lng: 13.270286316716465, lat: 52.502217640505705},

            // initial zoom
            zoom: 18,

            zLevel: 3
        });

        // Add zoom and rotation controls to the map.
        map.addControl(new Mazemap.mapboxgl.NavigationControl());
    </script>-->
  
{% endblock javascripts %}
